.page{
    justify-content: center;
    padding: 40px 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: space-around;
}

.form-container{
    gap: 20px;

}

input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
  }
  
  /* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #ffffff;
    outline: none;
  }