@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*
font-family: "Playfair Display", serif;
font-family: "Lato", serif;
font-family: "Cormorant Garamond", serif;
font-family: "Dancing Script", serif;
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #D6F1D1;
}


/* NAVIGATION */
/* ===================== */

ul{
    list-style: none;
    padding: 30px;
}
  
a{
    text-decoration: none;
}
  
.header{
    padding-block: 1px;
    z-index: 99;
}
  
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAF0E2;
    
    a{
        color: #1E3932;
    }
}
  
.pls p{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    padding: 30px 50px;
}
  
.nav-menu{
    z-index: 1001;
}
  
.menu{
    align-items: center;
    width: auto;
    padding: 15px;
}
  
.menu li{
    padding: 0 20px;
    font-family: "Lato", serif;
    font-size: 1.25rem;

    button{
        width: 100%;
        margin: 10px;

        a{
            color: #ffffff;
        }
    }
}
  
.menu-item{
    display: inline-block;
    position: relative;
}
  
.menu-item a{
    display: block;
    font-size: 1.15rem;
    color: #1E3932;
    transition: all 0.3s ease;
} 
  
/* for sidebar navigation style for responsive */
.header .open-nav-menu{
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

//  open nav icon
.header .open-nav-menu span{
    display: block;
    height: 3px;
    width: 24px;
    background-color: #1E3932;
    position: relative;
}
    
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #1E3932;
    box-sizing: border-box;
}
  
.header .open-nav-menu span:before{
    top:-7px;
}
  
.header .open-nav-menu span:after{
    top:7px;
}
  
.header .close-nav-menu{
    height: 40px;
    width: 40px;
    margin:0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
  
.header .close-nav-menu img{
    width: 35px;
    filter: invert(42%) sepia(68%) saturate(356%) hue-rotate(93deg) brightness(96%) contrast(88%);
}
  
.header .menu-overlay{
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity:0;
    transition: all 0.3s ease;
}
  
/* responsive navigation*/
  
@media(max-width: 1065px){
    .header .menu-overlay.active{
    visibility: visible;
    opacity: 1;
    }
  
    .header .nav-menu{
      position: fixed;
      right: -280px;
      visibility: hidden;
      width: 280px;
      height: 100%;
      top:0;
      overflow-y: auto;
      background-color: #D6F0D1;
      z-index: 1000;
      padding: 15px 0;
      transition: all 0.5s ease;
    }
  
    .header .nav-menu.open{
      visibility: visible;
      right: 0px;
    }
  
    .header .menu > .menu-item{
      display: block;
      margin:0;
    }
  
    
  
    .header .menu > .menu-item > a{
      color: #1E3932;
      padding: 12px 15px;
      border-bottom: 1px solid #1E3932;
    }
  
    .header .menu > .menu-item:first-child > a{
      border-top: 1px solid #1E3932;	
    }
  
    .header .close-nav-menu,
    .header .open-nav-menu{
      display: flex;
    }
}
  

.parallax{
    min-height: 650px;
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-areas: "stack";
   
    > *{
        grid-area: stack;
        animation: parallax linear;
        animation-timeline: scroll();
    }

    img{
        width: 100%;
        height: auto;
    }

    .hero{
        // border: 2px solid blue;
        --parallax-speed: 3;
        z-index: -7;
        position: absolute;
        top: 140px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 0 100px;
        // justify-content: center;
        justify-items: center;
        
        img{
            width: 80%;
            top: -50px;
        }

        .content{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            justify-items: center;
            padding: 0  0 200px 0;
            text-align: center;
            align-items: center;

            h2{
                font-family: "Dancing Script", serif;
                font-size: 4rem;
            }

            p{
                font-family: "Playfair Display", serif;
                font-size: 1.5rem;
                padding: 30px 0;
            }


        }
    }

    .bg{
        z-index: -11;
        --parallax-speed: -5;
    }

    .parallax-01{
        --parallax-speed: -10;
        z-index: -10;
        position: absolute;
        top: 150px;
    }

    .parallax-02{
        --parallax-speed: -2;
        z-index: -9;
        position: absolute;
        top: 100px;
    }

    .parallax-03{
        // --parallax-speed: -1;
        z-index: -7;
        position: absolute;
        top: 540px;
    }


}


@keyframes parallax{
    to{
        transform: translateY(calc(var(--parallax-speed) * 200px))
    }
}


h2{
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
}

p{
    font-family: "Lato", serif;
    font-size: 1.5rem;
    padding: 30px 0;
}

button{
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #7C4C35;
    width: 35%;
    font-size: 16px;

    a{
        color: #ffffff;
        font-size: 1.5rem;
    }
}

.padding-block{
    padding: 50px 100px 50px ;
    // border: 2px solid red;
        // background: #D6F0D1;
}

.padding-block2{
    padding: 100px 100px ;
    background: #FAF0E2;
}

.padding-block3{
    padding: 100px 100px ;
    background: #D6F0D1;
}

.padding-block4{
    padding: 50px 50px ;
    background: #FAF0E2;
}

.about{
    // z-index: 1;
    background: #D6F0D1;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    .content{
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // gap: 5px;
        text-align: center;
        align-items: center;
    }

    p{
        margin: 0 30px 30px;
    }

    button{
        width: 35%;
    }

    img{
        // border: 2px solid red;
        width: 100%;
    }
}

.coffees{
    background: #FAF0E2;
    text-align: center;

    h2{
        font-size: 5rem;
        text-align: center;
        padding: 0 0 50px 0;
    }

    button{
        margin: 50px 0 0 0;
        width: 15%;
    }

    .all-coffees{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

        .coffee{
            overflow: hidden;
            background: #1E3932;
            color: #ffffff;
            text-align: center;
            height: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;

            img{
                width: 100%;
            }

            .card-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                h2{
                    text-align: center;
                    font-size: 1.75rem;
                    padding: 0;
                }

                p{
                    font-size: 1rem;
                }
            }
        }   
    }
}

.contact{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    .icons{
        display: flex;
    }
      
    .icon{
        width: 50px;
        height: 50px;
        filter: invert(11%) sepia(43%) saturate(1649%) hue-rotate(326deg) brightness(91%) contrast(101%);
    }
    
    .map-responsive{
        height: 450px;
        width: 100%;
    }
      
    .map-responsive iframe{
        height: 100%;
        width: 100%;
    } 

    .contact-content{
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

footer{
    background-color: #FAF0E2;
    border: 2px solid red;
    text-align: center;

    a{
        color: #1E3932;
        margin: 20px;
        font-size: 2rem;
    }
  }
  
  
  .footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-block: 30px;
  }
  .footernav ul li a{
    color: #1E3932;
    margin: 20px;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: var(--ff-h2);
  }
  
  .footicons{
    margin: 20px;
    display: flex;
    margin: auto;
    height: 50px;
    width: 200px;
  }
  
  /* img is an svg have to use filter to get the color */
  .footicons img{
    filter: invert(11%) sepia(43%) saturate(1649%) hue-rotate(326deg) brightness(91%) contrast(101%);
  }
  
  .footerbottom{
    background-color: #7C4C35;
    padding: 1rem;
    text-align: center;
  }
  .footerbottom p{
    color: white;
    font-size: 1rem;
    padding: 0;
  }

//   @media (max-width: 700px){
//     footer{
//     display: flex;
//     justify-content: center;
//     width: 130px;
//     height: auto;
//     margin: auto;
//     }
    
//     .footernav ul{
//         flex-direction: column;
//     } 
//     .footernav ul li{
//         width:100%;
//         text-align: center;
//         margin: 10px;
//     }
//   }

@media (min-width: 720px) and (max-width: 1024px){
    
    .parallax{ 
        min-height: 550px;


        .parallax-01{
            top: 120px;
        }
        
        .parallax-02{
            top: 70px;
        }

        .parallax-03{
            top: 470px;
        }
        .hero {

            button{
                width: 50%;
            }
            
            .content {

                h2{
                    font-size: 3rem;
                }

                p{
                    font-size: 1.15rem;
                }
            }     
        } 
    }

    .about > .content{
        p{
            font-size: 1.15rem;

        }
    
        button{
            width: 60%;

            a{
                font-size: 1.15rem;

            }
        }
    }

    .coffees{
        border: 2px solid red;  
    
        .all-coffees{
            border: 2px solid red;  
            grid-template-columns: repeat(2, 1fr);
        }

        button{
            width: 25%;

            a{
                font-size: 1.15rem;
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 720px){
    .parallax{ 
        min-height: 550px;


        .parallax-01{
            top: 120px;
        }
        
        .parallax-02{
            top: 70px;
        }

        .parallax-03{
            top: 470px;
        }
        .hero {

            button{
                width: 50%;
            }
            
            .content {

                h2{
                    font-size: 3rem;
                }

                p{
                    font-size: 1.15rem;
                }
            }     
        } 
    }

    .about > .content{
        p{
            font-size: 1.15rem;

        }
    
        button{
            width: 60%;

            a{
                font-size: 1.15rem;

            }
        }
    }

    .coffees{
    
        .all-coffees{
            grid-template-columns: repeat(2, 1fr);
        }

        button{
            width: 25%;

            a{
                font-size: 1.15rem;
            }
        }
    }
}
